@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kanit:wght@300&family=Nunito:wght@200&family=Poppins:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('./skin/color1.css');

/* root : is used for declaring globle css variable  */
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --bg-black-900: #302e4d;
    --text-black-700: #304e70;
    --bg-green-100: #7DDF81;
    --bg-white-100: #DADADA;
}

html,
body {

    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 10px;
    font-family: 'poppins' sans-serif;
    max-width: 100%;
    user-select: none;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
}

body {

    overflow-x: hidden;

    height: 100%;
    /* max-width: 100%; */
    width: 100%;

}


/* Universal selectore for all html document */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}


/* Common styling properties */
.who_we_are,
.core_value,
.technical_exp,
.wanttojoin {
    background: #e9e9e9
}

.who_we_are h1,
.core_value h1,
.whatwedo h1,
.technical_exp h1,
.whychooseus h1,
.wanttojoin h1 {
    font-size: 44px;
    font-family: "nunito", san sarif;
    padding-left: 80px;
}

.core_value p,
.technical_exp p {
    font-family: "nunito", san sarif;

}

.whatwedo h1,
.whychooseus h1 {
    padding-top: 70px;
    color: white;

}

.who_we_are h1,
.core_value h1,
.technical_exp h1,
.wanttojoin h1 {
    color: #045762;
}

.core_value p,
.technical_exp p {
    font-family: "nunito", san sarif;

}


.core_value .coreValue_part2 p,
.technical_exp p {
    font-size: 22px;
    padding: 25px 83px;
}

/* <<<<<< Sidebar>>>>>>>>> */

.sidebar {
    width: 320px;
    background: #020f15;
    padding: 200px 30px 30px 22px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}




/* Logo  */

.sidebar .logo {
    position: absolute;
    top: 25px;
    font-size: 30px;
    text-transform: capitalize;
}

/* sidebar logo */
.sidebar .logo img {
    position: absolute;
    right: 35px;
    width: 90px;
    height: 92px;
}


/* Branding name : Infogen   */
.sidebar .logo span {
    font-family: 'Kanit', sans-serif;
    position: absolute;
    left: -25px;
    color: var(--skin-color);
    font-size: 54px;
}

/* sidebar toggler */
.nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 0;
    background: transparent;
    /* below three propertie used for lign the items in center flex/none */
    display: none;
    align-items: center;
    justify-content: center;
}

.sidebar .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.sidebar .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.sidebar .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

#removebtn {
    font-size: 28px;
    background: transparent;
    color: #85a45b;
    position: fixed;
    top: -4px;
    left: 220px;
    display: none;
    cursor: pointer;
    border: none;

}


/* sidebar menulist */
.sidebar ul {
    list-style: none;
}

.sidebar .nav {
    margin-bottom: 90px;
    margin-right: 60px;
}

.sidebar .nav li {
    margin-bottom: 30px;
    border-bottom-color: #707070;

    letter-spacing: 1px;
    display: block;

}



.sidebar .nav li a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: var(--bg-white-100);
    border-bottom: 1px solid #e8dfec36;
}


.sidebar .nav li.active a {
    color: green;
}

.sidebar .nav li a:hover {
    color: green
}

.sidebar .nav span {
    padding-left: 10px;
    font-family: 'Kanit', sans-serif;
}

.sidebar .social_media {
    position: absolute;
    bottom: 33px;
    left: 58px;
    list-style: none;
}

.sidebar .social_media li {
    font-size: 15px;
    padding-bottom: 28px;
}


.sidebar .social_media li .icon {
    background: var(--skin-color);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-size: 25px;
    transition: all .2s ease-in-out;
}

.sidebar .social_media li .icon:hover {
    transform: scale(1.2);
    background: rgb(13, 0, 0);
    font-size: 24px;
    box-shadow: 0px 0 10px 10px rgba(238, 233, 233, 0.5);
}

.sidebar .social_media li a {
    color: var(--bg-white-100);
}

.sidebar .social_media li a i {
    padding: 8px 0 0 8px;
}


/* <<<<<<<<<<<<<<<<< Home-Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.main_content {
    padding-left: 320px;
    /* background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.5) 50%),
        url(/img/homeBG.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
    width: 100%;
}

.section {
    min-height: 100%;
    display: block;
    height: 100vh;
    /*  border: 1px solid red;  */
}

.container {
    max-width: 1920px;
    width: 100%;
    /* background:#7DDF81; */
}



.row {
    display: flex;
    flex-wrap: wrap;
    /*   margin-left: -15px; */
    margin-right: -15px;
    position: relative;
    flex: 1 0 50%
}

.home {
    /* color: white; */
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.5) 50%),
        url(../img/homeBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    list-style: none;
}



.home .home_info h1 {
    font-size: 52px;
    color: white;
    border: none;
    font-family: "nunito", san sarif;
    padding: 90px 168px 0px 153px;
    letter-spacing: 2px;


}

.home .home_info .texttype_typing {

    border-right: 2px solid var(--skin-color);
    color: var(--skin-color);
    text-transform: uppercase;


}

.home .home_info .typed-cursor {

    color: transparent;
}

/* 3DSlider */



.home .slider1 {
    width: 75%;
    position: relative;
    perspective: 3000px;
    margin-left: -200px;
    top: 0px;
}


#carousel {
    position: relative;
}

#carousel figure {
    display: block;
    animation: rotate 20000ms ease-in-out infinite;
    position: absolute;

    padding: 100px;
    text-align: center;
    min-width: 60%;




}

#carousel figure img {
    object-fit: contain;
    width: 750px;
    height: 550px;
}

#carousel figure:nth-child(0) {
    animation-delay: -20s;
}

#carousel figure:nth-child(1) {
    animation-delay: -15s;
}

#carousel figure:nth-child(2) {
    animation-delay: -10s;
}

#carousel figure:nth-child(3) {
    animation-delay: -5s;
}

#carousel figure:nth-child(4) {
    animation-delay: 0s;
}

#carousel figure:nth-child(5) {
    animation-delay: 5s;
}

#carousel figure:nth-child(6) {
    animation-delay: 10s;
}


@keyframes rotate {

    0%,
    20%,
    96%,
    100% {
        transform: rotateY(40deg) scale(0.6);
        left: 0;
        z-index: -1;
        -webkit-filter: opacity(80%) blur(0px);
    }

    21%,
    45% {
        transform: rotateY(0deg) scale(1);
        left: 40%;
        z-index: 100;
        -webkit-filter: opacity(100%) blur(0px);
    }

    46%,
    70% {
        transform: rotateY(-45deg) scale(0.6);
        left: 81%;
        z-index: -1;
        -webkit-filter: opacity(80%) blur(0px);
    }

    71%,
    95% {
        transform: rotateY(-90deg) scale(0.6);
        left: 80%;
        z-index: 0;
        -webkit-filter: opacity(0%) blur(0px);
    }


}



/* <<<<<<<<<<<<<<<<< who_we_are Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.who_we_are .row {
    width: 100%;
    /* height: 100vh; */
    height: auto;
    display: flex;
    /* all elements comes in single line but they will not repsonsive, when we reduce the size of window then they not in view   */
    flex-wrap: wrap;
    /* so this is responsive for flex , item in display flex autometically adjust */
    justify-content: space-between;

}

.whoweare1 {
    padding: 1rem;

    flex: 1 0 50%;
}

.who_we_are .row .col_1,
.who_we_are .row .col_2 {
    width: 40%;
    height: auto;
    margin-bottom: 86px;
}


.who_we_are h1 {
    padding-top: 60px;
    color: #045762;
    width: 100%;
}


.who_we_are .info {
    padding: 25px 88px;
    font-family: "nunito", san sarif;
    line-height: 1.8;
    font-size: 22px;
    text-align: justify;
}

.who_we_are .info span {
    color: #045762;
    opacity: 1;
}


.who_we_are .img_group {
    padding-bottom: 532px;
}

.who_we_are .imageparent {

    width: 400px;
    height: 400px;
    position: relative;
    left: 0px;
    top: 10px;
    margin: 158px 0 0 32px
}


.who_we_are .img1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.who_we_are .img2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 120px;
    left: 129px;
}

/* <<<<<<<<<<<<<<<<< core_value Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.core_value {
    padding: 15px 0 0 0;
}


.core_value .coreValue_part2 {
    margin-bottom: 52px;
}

.core_value h1 {
    /*  font-size: 32px;
    font-family: "nunito", san sarif; */
    padding-top: 40px;
}



.core_value .slidercontainer .showSlide {
    display: none
}


.core_value .slidercontainer .showSlide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.core_value .slidercontainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 380px;
    width: 1200px;
    top: 65px;
    left: 90px;
}


.core_value .slidercontainer .right {

    cursor: pointer;
    position: absolute;
    top: 99%;
    width: auto;
    padding: 16px;
    margin-top: -130px;
    color: #045762;

    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.core_value .slidercontainer .right {
    right: -17px;
}


.core_value .countryName span {
    margin: 25px;
    background: #90B061;
    padding: 3px;
}

.core_value .countryName {
    margin: 20px 55px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 100%;

}

.core_value .countryName .country {
    padding: 6px;
    border-radius: 8px;
    height: 40px;


}

.core_value .countryName .country img {
    width: 20px;
    height: 20px;
}

.core_value .countryName .country span {
    color: white;
    margin-left: 5px;
}


/* <<<<<<<<<<<<<<<<< What_we_do Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.whatwedo {
    height: 106vh;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.5) 50%),
        url(../img/whatwedo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    list-style: none;
    font-family: "nunito", san sarif;
}




.whatwedo .swiper {
    width: 80%;
    height: 100%;
    padding: 250px 0 250px 0;
    margin: 60px 0 10px 70px;
    background-color: #343a406b;
    border-radius: 15px;
    user-select: none;
}

.whatwedo .swiper .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;


    background: #f3242400;
    display: block;
    position: relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}


.whatwedo .swiper .swiper-wrapper .swiper-slide:hover {
    transform: scale(1.2);
}


.whatwedo .swiper .swiper-wrapper .swiper-slide .blackbox {
    background: #050505;
    position: absolute;
    top: 300px;
    width: 161px;
    height: 70px;
    color: white;
}

.whatwedo .swiper .swiper-wrapper .swiper-slide .blackbox span {
    font-size: 14px;
    font-weight: 700;
    color: #7DDF81;
    position: absolute;
    top: 24px;
    left: 16px;
}



.whatwedo .swiper .swiper-wrapper .swiper-slide img {
    display: block;
    flex-wrap: wrap;
    position: absolute;
    width: 190px;
    height: 300px;
    object-fit: contain;
    border: 1px solid white;
    border-radius: 20px;

}



.whatwedo .swiper .swiper-wrapper a {
    position: absolute;
    top: 85px;
    color: green;
    font-weight: bolder;
    text-decoration: none;
    font-size: 16px;
    font-family: "nunito", san sarif;
}










/* Technical Experties-section styling properties */

.technical_exp h1 {
    padding: 46px 80px;
    color: #045762;
}


.technical_exp .logo_section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;

}

.technical_exp .logo_section .logo {

    padding: 20px;
    background: white;
    width: 141px;
    height: 140px;
    margin: 35px 44px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}



.technical_exp .logo_section .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.technical_exp .logo_section .logo:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 15px 1px #045762
}




/*  Why choose infogen section styling properties  */
.whychooseus {
    background: #045762;
    height: auto;
    justify-content: center;
}


.whychooseus h1 {
    padding-top: 60px;
}

/* .whychooseus  section*/


.whychooseus .whychooseus1 {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;

}

.whychooseus .whychooseus1 h5 {
    color: #7DDF81;
    font-size: 22px;
    padding: 0 0 7px 20px;
    font-family: 'nunito', sans-serif;
}

.whychooseus .whychooseus1 img {
    width: 100%;
    object-fit: cover;
    padding: 32px 18px;
    opacity: 0.6;
}



.whychooseus .whychooseus1 p {
    color: #E4E4E4;
    font-size: 18px;
    text-align: justify;
    font-family: "nunito", san sarif;
    padding: 5px 20px 5px 20px;
}

.whychooseus .whychooseus1 .button {
    border: 1px solid #7DDF81;
    width: 46%;
    height: 6%;
    text-align: center;
    margin: 12px 0 15px 20px;
    font-size: 17px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.whychooseus .whychooseus1 .button:hover {
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px 2px rgb(231, 219, 219);
    transform: scale(1.05);


}

.whychooseus .whychooseus1 .button a {
    text-decoration: none;
    color: #7DDF81;
    position: relative;
    top: 2px;
}





.whychooseus .box1,
.whychooseus .box2,
.whychooseus .box3 {
    width: 20%;
    margin: 28px 57px 11px 92px;
    /*  border:1px solid red; */
    transition: all 0.3s ease-in-out;


}



.whychooseus .box4 {
    width: 100%;
    padding-bottom: 12px;
    background: #E9E9E9;
    position: relative;
    margin: 20px 200px 0 80px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}

.whychooseus .box4 .comma {
    width: 100px;
    height: 200px;
    float: left;
}

.whychooseus .box4 .comma .commaImg {
    width: 100%;
    height: auto;
    opacity: 100%;
}

.whychooseus .box4 .main {
    color: #045762;
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
}

.whychooseus .box4 .sub_box41 {
    width: 74%;
    text-align: justify;
}

.whychooseus .box4 .sub_box41 .post {
    color: #045762;
    padding: 10px 100px;
    font-size: 20px;
    font-weight: bold;
}

.whychooseus .box4 .sub_box41 h2 {
    padding-left: 99px;
    padding-top: 25px;
}

.whychooseus .box4 .sub_box42 {

    width: 22%;
    height: 270px;

}

.whychooseus .box4 .sub_box42 .custImg {
    width: 100%;
    height: 100%;
    object-fit: contain;

}






/* wanttojoin section start */
.wanttojoin {
    height: 100vh;
}

.wanttojoin .wanttojoin1 {
    display: 100%;
    height: auto;
    display: flex;
    /* all elements comes in single line but they will not repsonsive, when we reduce the size of window then they not in view   */
    flex-wrap: wrap;
    /* so this is responsive for flex , item in display flex autometically adjust */
    justify-content: space-evenly;
}

.wanttojoin .row h1 {
    padding-top: 40px;
    /*  position: absolute; */
}



.wanttojoin .wanttojoin1 .imgTablebox {
    width: 32%;
    padding-top: 85px;
}


.wanttojoin .wanttojoin1 .imgTablebox .tablebox {
    background: #fdf9ff;
}


.wanttojoin .wanttojoin1 .imgTablebox img {
    width: 100%;
}

.wanttojoin .wanttojoin1 .tablebox table {
    text-align: left;
    /*   background: #fdf9ff; */
    width: 100%;
    margin-left: 10px;
}

.wanttojoin .wanttojoin1 .tablebox th {
    padding: 10px 0;
    font-size: 15px;
    color: #045762;
    font-weight: 900;
}

.wanttojoin .wanttojoin1 .tablebox td {
    padding: 5px 0px;
    font-size: 10px;
}


.wanttojoin .wanttojoin1 .contactFormbox {
    width: 40%;
    padding-top: 75px;
    margin-bottom: 120px;

}

.wanttojoin .wanttojoin1 .contactFormbox .firsthead {
    color: #045762;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: "nunito", san sarif;
    font-weight: bold;
}


.wanttojoin .wanttojoin1 .contactFormbox p {
    color: #707070;
    font-size: 25px;
    margin-bottom: 32px;
    letter-spacing: 2px;
    margin-left: 15px;
}

.wanttojoin .wanttojoin1 .contactFormbox span {
    background-color: #045762;
    padding: 9px 18px;
    margin-left: 15px;

}


.wanttojoin .wanttojoin1 .contactFormbox .secondhead {
    color: #045762;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 15px;
    font-family: "nunito", san sarif;
    font-weight: bold;
}


.wanttojoin .wanttojoin1 .contactFormbox a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.wanttojoin .wanttojoin1 .contactFormbox form {
    margin-left: 15px;
    width: 130%;
}

.wanttojoin .wanttojoin1 .contactFormbox input {
    width: 65%;
    height: 30px;
    margin-top: 26px;
    background: transparent;
    border: 1px solid #9B9B9B;
}

.wanttojoin .wanttojoin1 .contactFormbox input::placeholder {
    padding-left: 15px;
}

.wanttojoin .wanttojoin1 .contactFormbox button {
    background: #045762;
    width: 85px;
    font-size: 18px;
    height: 30px;
    border: 2px solid #045762;
    margin-top: 30px;
    color: #FFFFFF;
    font-family: 'nunito', sans-serif;
}






/* Footer section start */

.footer .row {
    height: auto;
    display: flex;
    /* all elements comes in single line but they will not repsonsive, when we reduce the size of window then they not in view   */
    flex-wrap: wrap;
    /* so this is responsive for flex , item in display flex autometically adjust */
    justify-content: space-between;
    width: 100%;
}


.footer .row .col1 {
    width: 45%;
    padding: 0px 30px;

}

.footer .row .col2 {
    width: 25%;
    padding: 0px 30px;
}

.footer .row .col3 {
    width: 30%;
    padding: 0px 30px;
}


.footer {
    background: #045762;
    font-family: 'nunito', sans-serif;
    color: #E9E9E9;
    width: 100%;

}





.footer .branding {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 25px;
}


.footer .branding img {
    width: 50px;
    height: 58px;
}


.footer .branding h2 {
    font-size: 22px;
    padding: 20px 0 0 10px;
    letter-spacing: 2px;
}

.footer .contact {
    font-size: 14px;
}

.footer .social-media2 {
    display: flex;
    flex-wrap: wrap;
}

.footer .social-media2 .icon {
    margin-right: 15px;
    margin-top: 15px;
    background: var(--skin-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.footer .social-media2 .icon a {
    color: #FFFFFF;
}

.footer .social-media2 .icon i {
    margin: 4px 0 0 5px;
    font-size: 16px;
}

.footer .description p {
    font-size: 12px;
    padding: 15px 0 50px 0;
}

.footer .menulist,
.footer .studiolist {
    padding-top: 50px;
}

.footer .menulist ul {
    padding: 25px 0 0 15px;

}

.footer .menulist li,
.footer .studiolist li {
    margin: 10px 0;
}

.footer .menulist li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
}




.footer .studiolist li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.footer .studiolist ul {
    padding: 25px 0 0 15px;
}






/* Media Queries.........  */




@media (max-width:1783px) {
    .home .home_info h1 {
        font-size: 50px;
    }
}

@media (max-width:1703px) {
    .home .home_info h1 {
        font-size: 48px;
    }

    .sidebar {
        width: 280px;
    }

    .main_content {
        padding-left: 280px;
    }

    .sidebar .logo span {
        font-size: 42px;
        margin-top: 11px;
    }

    .technical_exp .logo_section .logo {
        margin: 35px 28px;
    }
}




@media (max-width:1680px) {
    .sidebar .social_media {
        position: absolute;
        bottom: 191px;
        left: 58px;
        list-style: none;
    }
}


@media (max-width:1663px) {
    .home .home_info h1 {
        font-size: 43px;
        padding: 90px 199px 0px 153px;
    }
}

@media (max-width:1600px) {
    .home .home_info h1 {

        padding: 90px 23px 0px 153px;
    }
}


@media (max-width:1536px) {
    .sidebar .social_media {
        position: absolute;
        bottom: 50px;
        left: 34px;
        list-style: none;
    }


    .sidebar .social_media li .icon {
        width: 35px;
        height: 35px;
        font-size: 19px;
    }
}





@media (max-width:1507px) {
    .technical_exp .logo_section .logo {
        margin: 35px 14px;
    }
}

@media (max-width:1592px) {
    .home .home_info h1 {
        padding: 90px 99px 0px 153px;
    }

    .home .slider1 {
        width: 72%;
    }

    #carousel figure img {
        object-fit: contain;
        width: 650px;
        height: 450px;
    }
}


@media (max-width:1492px) {
    .home .home_info h1 {
        font-size: 40px;
        padding: 90px 20px 0px 153px;
    }
}

@media (max-width:1400px) {
    .home .home_info h1 {
        font-size: 38px;
    }

    .home .slider1 {
        margin-left: -181px;
        top: -35px;
    }
}


@media (max-width:1280px) {

    /* Common */

    .who_we_are h1,
    .core_value h1,
    .whatwedo h1,
    .technical_exp h1,
    .whychooseus h1,
    .wanttojoin h1 {
        font-size: 32px;

    }



    /* Main content */
    .main_content {
        padding-left: 240px;
    }


    /* Sidebar */
    .sidebar {
        width: 240px;
    }

    .sidebar .logo img {
        width: 50px;
        height: 50px;
    }

    .sidebar .logo span {
        font-size: 30px;
        margin-top: 5px;
    }

    .sidebar .nav {
        margin-top: -75px;
    }

    .sidebar .nav li a {
        font-size: 12px;
    }

    .sidebar .social_media li .icon {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }

    .sidebar .social_media {
        position: absolute;
        bottom: 0px;
        font-size: 16px;
    }

    .sidebar .social_media li a i {
        padding: 5px 0 0 5px;
    }

    .sidebar .social_media li {

        padding-bottom: 20px;
    }

    .sidebar .social_media li .icon:hover {


        font-size: 12px;

    }

    /* Heading  */
    .home .home_info h1 {
        font-size: 38px;
        padding: 85px 20px 0px 25px;
    }

    #carousel figure img {
        object-fit: contain;
        width: 430px;
        height: 430px;
    }

    .home .slider1 {
        margin-left: -172px;
        top: -123px;
    }

    /* who we are section */
    .who_we_are .info{
        font-size: 16px;
    }

    .who_we_are .imageparent {
        width: 250px;
        height: 250px;
        top: 0;
        margin: 136px 0 0 32px;
    }
    
    /* Core values section*/

    .core_value .slidercontainer {
        height: 320px;
        width: 800px;
    }

    /* Common */
    .core_value .coreValue_part2 p, .technical_exp p {
        font-size: 18px;
        padding: 10px 83px 0 83px;
    }

    .core_value .countryName {
        margin: 0px 55px;
    }

    .core_value .countryName {
        font-size: 12px;
    }

    .core_value h1 {
        padding-top: 19px;
    }

    /* What we do section */
    .whatwedo .swiper {
        padding: 200px 0 200px 0px;
        margin: 34px 0 0 79px;
    }

    .whatwedo .swiper .swiper-wrapper .swiper-slide img {
        width: 140px;
        height: 220px;
    }

    .whatwedo .swiper .swiper-wrapper a {
        top: 60px;
        font-size: 14px;
    }

    .technical_exp .logo_section .logo {
        width: 130px;
        height: 130px;
    }

    .technical_exp .logo_section .logo {
        padding: 16px;
        margin:10px 4px 10px 4px;
    }

    .technical_exp .logo_section {
        padding: 37px 60px;
    }

    /* Why choose section */
    .whychooseus .whychooseus1 h5 {
        font-size: 14px;
    }

    .whychooseus .whychooseus1 p {
        font-size: 12px;
    }

    .whychooseus .box1, .whychooseus .box2, .whychooseus .box3 {
        width: 22%;
        margin: 30px 0 0 60px;
    }

    .whychooseus .box4 .main {
        font-size: 14px;
    }

    .whychooseus .box4 .sub_box42 {
        width: 25%;
        height: 216px;
    }

    .whychooseus h1 {
        padding-top: 30px;
    }

    .whychooseus .whychooseus1 img {
        padding: 9px 22px;
        width: 100%;
        height: 36%;    
    }

    .whychooseus .whychooseus1 .button {
        width: 42%;
        height: 7%;
        font-size: 12px;
        margin: 4px 0 0px 20px;
    }
   
    .whychooseus .box4 {
        padding-bottom: 0px;
        margin: 0 200px 0 80px;
    }

    .whychooseus .box4 .sub_box41 h2 {
        padding-top: 14px;
    }
   
    /* Want to join section */
    .wanttojoin .wanttojoin1 .imgTablebox {
        width: 26%;
        padding-top: 32px;
    }
    .wanttojoin .wanttojoin1 .contactFormbox {
        width: 50%;
    }

    .wanttojoin .wanttojoin1 .contactFormbox .firsthead {
        font-size: 28px;
    }
    .wanttojoin .wanttojoin1 .contactFormbox {
        padding-top: 24px
    }

    .wanttojoin .wanttojoin1 .contactFormbox p {
        font-size: 17px;
    }
    .wanttojoin .wanttojoin1 .contactFormbox .secondhead {
        font-size: 25px;
        margin-top: 25px;
    }
       
}
















@media (max-width:1200px) {
    .sidebar {
        left: -320px;
    }

    .main_content {
        padding-left: 0;
    }

    .sidebar .nav-toggler {
        display: flex;
        left: 6px;
        top: 6px
    }

    .sidebar .open {
        left: 0;
    }

    .section {
        left: 0;
    }

    .home .home_info h1 {
        padding-right: 87px;
    }

    .technical_exp .logo_section {
        padding: 50px 89px;
    }

    .whychooseus .customer_info .imgbox .customer {
        padding: 5px 0 5px 122px;

    }





}



@media(max-width:998px) {
    .who_we_are .row {
        display: block;
        height: 150vh;
    }

    .who_we_are .row .col_1,
    .who_we_are .row .col_2 {
        width: 100%;

    }

    .who_we_are .img2 {
        top: 30px;
        left: 381px;
    }

    .who_we_are .img1 {
        top: -100px;
        left: 250px;
    }



    .core_value .slidercontainer {

        height: 178px;
        width: 233px;
        top: 20px;
        left: 87px;
    }

    .core_value .slidercontainer .showSlide img {
        object-fit: cover;
        width: 265%;
        height: auto;
    }

    .core_value .slidercontainer .right {
        left: 525px;
        top: 262px;
        width: 100%;
    }

}


@media(max-width:961px) {
    #homeslider {
        display: none;
    }

    .whychooseus .whychooseus1 {
        display: block;
    }

    .whychooseus .box1,
    .whychooseus .box2,
    .whychooseus .box3 {
        width: 400px;
        margin-left: 200px;
    }

    .whychooseus .box4 {
        width: 82%;
    }

    .whychooseus .box4 .comma img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: bottom;
    }

    .whychooseus .whychooseus1 p {
        font-size: 16px;
    }

    .whychooseus .whychooseus1 h5 {
        font-size: 18px;
    }

    .whychooseus .whychooseus1 .button {
        height: 27px;
        font-size: 17px;
        margin-bottom: 90px;
    }


    .wanttojoin .wanttojoin1 {
        display: block;
    }

    .wanttojoin {
        height: auto;
    }

    .wanttojoin .wanttojoin1 .imgTablebox {
        width: 50%;
        margin-left: 190px;
    }

    .wanttojoin .wanttojoin1 .contactFormbox {
        width: 50%;
        padding-top: 65px;
        margin-left: 190px;
    }


}


@media(max-width:787px) {



    .who_we_are .img1 {
        top: -100px;
        left: 180px;
    }

    .who_we_are .img2 {
        top: 30px;
        left: 281px;
    }

    .core_value .countryName {
        width: 83%;
    }

    .core_value .countryName .country {
        width: 185px;
        text-align: left;
    }

    .core_value .slidercontainer {

        /*  width: 216px;
        left: 38px; */
        width: 180px;
        left: 32px;
        top: 27px;
    }

    .core_value .slidercontainer .right {
        /*   left: 480px;
        top: 247px; */
        left: 385px;
        top: 220px;
    }

    .whychooseus .box1,
    .whychooseus .box2,
    .whychooseus .box3 {

        margin-left: 140px;
    }

    .whychooseus .box4 .sub_box41 {
        width: 62%;

    }

    .whychooseus .box4 .sub_box42 {
        width: 35%;

    }

    .footer .row {
        display: flex;
        padding-top: 1px;
    }


    .footer .row .col1 {
        width: 80%;

    }

    .footer .row .col2 {
        width: 40%;


    }

    .footer .row .col3 {
        width: 40%;
    }

    .footer .description p {
        padding-bottom: 15px;
    }

    .footer .menulist,
    .footer .studiolist {
        padding-top: 14px;
    }











}

@media(max-width:637px) {

    #homeslider {
        display: none;
    }

    .who_we_are .img1 {
        top: -100px;
        left: 70px;
    }

    .who_we_are .img2 {
        top: 30px;
        left: 200px;
    }

    .core_value .slidercontainer {
        width: 139px;
        left: 10px;
    }

    .core_value .slidercontainer .right {
        left: 272px;
        top: 204px;
    }

    .whychooseus .box1,
    .whychooseus .box2,
    .whychooseus .box3 {
        margin-left: 90px;
    }


    .whychooseus .box4 {
        display: block;
    }

    .whychooseus .box4 .sub_box41 {
        width: 95%;
    }


    .whychooseus .box4 .sub_box42 .custImg {
        margin-left: 90%;
        width: 107%;
    }

}

@media(max-width:500px) {


    .who_we_are .img1 {
        width: 80%;
        height: 80%;
    }

    .who_we_are .img2 {
        width: 80%;
        height: 80%;
        top: 8px;
        left: 180px;
    }

    .whychooseus .box1,
    .whychooseus .box2,
    .whychooseus .box3 {
        width: 66%;
    }

    .whychooseus .box4 {
        width: 75%;
    }


    .whychooseus .box4 .sub_box42 .custImg {
        width: 160%;
    }


}


@media(max-width:450px) {


    .who_we_are .img2 {
        top: 0;
        left: 100px;
    }

    .core_value .slidercontainer {
        width: 120px;
        left: 0;
        top: 33px;
    }

}


@media(max-width:375px) {

    .home .home_info h1 {
        position: absolute;
        left: -27px;
    }
}